@model GameCreateViewModel

@{
    ViewData["Title"] = "افزودن بازی";
}


<div class="row" style="background:white">
    <div class="text-center">
        <h2>افزودن بازی</h2>
    </div>
    <div class="col-md-4">
        <form asp-action="AddGame">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.ImageName" class="control-label"></label>
                <input asp-for="Game.ImageName" class="form-control" />
                <span asp-validation-for="Game.ImageName" class="text-danger"></span>
            </div>
            <div>
                <select asp-for="Genres" class="form-control" asp-items="ViewBag.Platforms">
                    <option selected="">انتخاب کنید</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Explanation" class="control-label"></label>
                <input asp-for="Game.Explanation" class="form-control" />
                <span asp-validation-for="Game.Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Summary" class="control-label"></label>
                <input asp-for="Game.Summary" class="form-control" />
                <span asp-validation-for="Game.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Game.ComingSoon" /> @Html.DisplayNameFor(model => model.Game.ComingSoon)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Game.IsDeleted" /> @Html.DisplayNameFor(model => model.Game.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

