@model GameCreateViewModel

@{
    ViewData["Title"] = "افزودن بازی";
}


<div class="row" style="background: white; margin-top: 10px;border-radius: 5px;
">
    <div class="text-center">
        <h2>افزودن بازی</h2>
    </div>
    <div class="col-md-4" style="width: 100%; padding: 27px;">
        <form asp-action="AddGame" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="white-box">
                    <label for="">تصویر را انتخاب کنید</label>
                     <input type="file" id="input-file-now" name="image" class="dropify" />
                </div>
                <span asp-validation-for="Game.ImageName" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group">
                    <label  class="control-label">پلتفرم</label>
                    <select asp-for="Platforms" class="form-control" multiple asp-items="ViewBag.Platforms">
                        <option selected="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="Platforms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">ژانر</label>
                    <select asp-for="Genres" class="form-control" multiple asp-items="ViewBag.Genres">
                        <option selected="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="Genres" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">نام بازی</label>
                <input asp-for="Game.Title" class="form-control"/>
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> توضیح کوتاه</label>
                <input asp-for="Game.Explanation" class="form-control" />
                <span asp-validation-for="Game.Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">متن</label>
                <textarea class="form-control text-box multi-line" data-val="true" asp-for="Game.Summary"></textarea>
                <span asp-validation-for="Game.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">تعداد بازی</label>
                <input asp-for="Game.Count" class="form-control"/>
                <span asp-validation-for="Game.Count" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Game.ComingSoon"/> بزودی
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="width:100%"/>
            </div>
        </form>
    </div>
</div>
