@model GameCreateViewModel

@{
    ViewData["Title"] = "افزودن بازی";
}
<style>

    .selectResult li {
        cursor: pointer;
        margin-right: 5px;
        display: inline-block;
        background: darkgray;
        color: white;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3%;
        padding-right: 3%;
        border-radius: 8px;
    }

</style>

<div class="row" style="background: white; margin-top: 10px;border-radius: 5px;">
    <div class="text-center">
        <h2>افزودن بازی</h2>
    </div>
    <div class="col-md-4" style="width: 100%; padding: 27px;">
        <form asp-action="AddGame" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img id="Image-@Model.Id" src="~/GameImages/@Model.ImageName" alt="Alternate Text" width="200" heigth="200" />
                <div class="white-box">
                    <label for="">تصویر را انتخاب کنید</label>
                    <input type="file" id="input-file-now" name="image" class="dropify" />
                </div>
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-row" style="display:grid">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 ">
                        <h5 class="m-t-30 m-b-10">انتخاب پلتفرم</h5>
                        <p id="int" attr="0" style="display:none"></p>
                        <select onchange="getaPlatformName(this)" attrr="0" id="PlatformAdd" class="form-control PlatformAdd">
                            <option>انتخاب کنید</option>
                            @foreach (var item in Model.Platforms)
                            {
                                <option>@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 CreatPlatform">
                        <ul id="selectplatform" class="selectResult" style="display:contents">
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6">
                        <h5 class="m-t-30 m-b-10">انتخاب ژانر</h5>
                        <p id="intt" attr="0" style="display:none"></p>
                        <select onchange="getaGenreName(this)" attrr="0" id="GenreAdd" class="form-control GenreAdd">
                            <option>انتخاب کنید</option>
                            @foreach (var item in Model.Genres)
                            {
                                <option>@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 GenrePlatform">
                        <ul id="selectGenre" class="selectResult"  style="display:contents">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">نام بازی</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> توضیح کوتاه</label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">متن</label>
                <textarea class="form-control text-box multi-line" data-val="true" asp-for="Summary"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">تعداد بازی</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ComingSoon" /> بزودی
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" style="width:100%" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        function getaPlatformName(obj) {
            var s = document.getElementById("int").getAttribute("attr");
            el = parseInt(s);
            var item = $("#PlatformAdd").val();

            var item = $("#PlatformAdd").val();
            var html = '<li onclick="RemovePlatform(this)">'
            html += '<p>' + item + '</p>'
            html += '<span style = "margin-right:4px;cursor:pointer" > <i class="fa fa-remove"></i></span>'
            html += '</li>'
            html += '<input  type="text" style="display:none" onkeyup="numberChange(this)" name="Platforms[' + el + '].Title"  id="number" value="' + item + '" />'
            $("#selectplatform").append(html);
            document.getElementById("int").setAttribute("attr", el += 1);
        }
        function getaGenreName(obj) {
            var s = document.getElementById("intt").getAttribute("attr");
            el = parseInt(s);
            var item = $("#GenreAdd").val();

            var item = $("#GenreAdd").val();
            var html = '<li onclick="RemoveGenere(this)">'
            html += '<p>' + item + '</p>'
            html += '<span style = "margin-right:4px;cursor:pointer" > <i class="fa fa-remove"></i></span>'
            html += '</li>'
            html += '<input  type="text" style="display:none" onkeyup="numberChange(this)" name="Genres[' + el + '].Title"  id="number" value="' + item + '" />'
            $("#selectGenre").append(html);
            document.getElementById("intt").setAttribute("attr", el += 1);
        }
        function RemovePlatform(obj) {
            obj.remove();
        }
        function RemoveGenere(obj) {
            obj.remove();
        }
    </script>
}
