@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.Title = "ثبت نام";
    ViewBag.Mode = "login";
}
<div class="account-box-content">
    <h4>ورود به حساب کاربری</h4>
    <form class="form-account text-right">
        <div class="form-account-title">
            <label for="email-phone">ایمیل </label>
            <input type="text" class="number-email-input" id="Email" name="email-account">
        </div>
        <div class="form-account-title">
            <label for="password">رمز عبور</label>
            <a href="#" class="account-link-password">رمز خود را فراموش کرده ام</a>
            <input type="password" class="password-input" id="Password">
        </div>
        <div class="form-auth-row">
            <label for="#" class="ui-checkbox mt-1">
                <input type="checkbox" value="1" name="login" id="remember">
                <span class="ui-checkbox-check"></span>
            </label>
            <label for="remember" class="remember-me mr-0">مرا به خاطر بسپار</label>
        </div>
        <div class="form-row-account">
            <button type="submit" class="btn btn-primary btn-block text-white btn-login">ورود </a>
        </div>
    </form>
</div>