@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.Title = "ثبت نام";
    ViewBag.Mode = "reg";
}
<div class="account-box-content">
    <h4>ثبت نام</h4>
    <form method="post" class="form-account text-right">
        <div class="form-account-title">
            <label for="email-phone">نام نام خانوادگی</label>
            <input type="text" class="number-email-input" id="FullName">
        </div>
        <div class="form-account-title">
            <label for="email-phone">ایمیل </label>
            <input type="email" class="number-email-input" id="Email">
        </div>
        <div class="form-account-title">
            <label for="password">رمز عبور</label>
            <input type="password" class="password-input" id="Password">
        </div>
        <div class="form-account-title">
            <label for="password">تکرار رمز عبور</label>
            <input type="password" class="password-input" id="RePassword">
        </div>
        <div class="form-auth-row">
            <label for="#" class="ui-checkbox mt-1">
                <input type="checkbox" value="1" name="login" id="remember">
                <span class="ui-checkbox-check"></span>
            </label>
            <label for="remember" class="remember-me mr-0"><a href="#">حریم خصوصی</a> و <a href="#">شرایط قوانین
                </a>استفاده از سرویس های سایت را مطالعه نموده و با کلیه موارد آن موافقم.</label>
        </div>
        <div class="form-row-account">
            <button type="submit" class="btn btn-primary btn-register btn-block text-white">ثبت نام</a>
        </div>
    </form>
</div>