@model NavbarViewModel 

<nav class="header-main-nav">
    <div class="d-block">
        <div class="align-items-center">
            <ul class="menu-ul mega-menu-level-one">
                @foreach (var item in Model.Platforms)
                {
                    <li id="nav-menu-item" class="menu-item nav-overlay">
                        <a href="#" class="current-link-menu" dideo-checked="true">
                            @item.Title
                        </a>
                    </li>
                }
                @foreach (var item in Model.Genres)
                {
                    <li id="nav-menu-item" class="menu-item nav-overlay">
                        <a href="#" class="current-link-menu" dideo-checked="true">
                            @item.Title
                        </a>
                    </li>
                }

                <div class="divider-space-card d-block">
                    <div class="header-cart-basket">
                        <a href="#" class="cart-basket-box" dideo-checked="true">
                            <span class="icon-cart">
                                <i class="mdi mdi-cart"></i>
                            </span>
                            <span class="title-cart">سبد خرید</span>
                            <span class="price-cart">
                                25,000,000
                                <span>تومان</span>
                            </span>
                            <span class="count-cart">2</span>
                        </a>
                        <div class="widget-shopping-cart">
                            <div class="widget-shopping-cart-content">
                                <ul class="product-list-widget">
                                    <li class="mini-cart-item">
                                        <div class="mini-cart-item-content">
                                            <a href="#" class="mini-cart-item-close" dideo-checked="true">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a href="#" class="mini-cart-item-image d-block" dideo-checked="true">
                                                <img src="/SiteTemplate/assets/images/menu-main/img-card.jpg">
                                            </a>
                                            <span class="product-name-card">لپ تاپ چووی الترابوک 14 اینچ پرو</span>
                                            <div class="variation">
                                                <span class="variation-n">فروشنده : </span>
                                                <p class="mb-0">دیجی اسمارت </p>
                                            </div>
                                            <div class="quantity">
                                                <span class="quantity-Price-amount">
                                                    15,000,000
                                                    <span>تومان</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mini-cart-item">
                                        <div class="mini-cart-item-content">
                                            <a href="#" class="mini-cart-item-close" dideo-checked="true">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a href="#" class="mini-cart-item-image d-block" dideo-checked="true">
                                                <img src="/SiteTemplate/assets/images/menu-main/img-card-2.jpg">
                                            </a>
                                            <span class="product-name-card">هواوای میت بوک X پرو 13.9 اینچ</span>
                                            <div class="variation">
                                                <span class="variation-n">فروشنده : </span>
                                                <p class="mb-0">دیجی اسمارت </p>
                                            </div>
                                            <div class="quantity">
                                                <span class="quantity-Price-amount">
                                                    10,000,000
                                                    <span>تومان</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="mini-card-total">
                                    <strong>قیمت کل : </strong>
                                    <span class="price-total">
                                        25,000,000
                                        <span>تومان</span>
                                    </span>
                                </div>
                                <div class="mini-card-button">
                                    <a href="cart.html" class="view-card" dideo-checked="true">مشاهده سبد خرید</a>
                                    <a href="checkout.html" class="card-checkout" dideo-checked="true">تسویه حساب</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
